/******** HEADER NAVIGATION ********/
.logo {
  margin-right: 150px;
}
li {
  display:inline-block;
  min-width:50px;
}
li a {
  text-decoration:none;
  line-height: 40px;
  padding: 0 10px;
  text-align: center;
  font-size: 1.2em;
  color: #444444;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15px;
}
li a:after {
content: '';
display: block;
margin: auto;
height: 1px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease;
}
li a:hover:after {
width: 90%;
background: #444;  
}
li a:hover {
  color: #008348;
}
.active {
  color: #008348;
}
/******** PAGE ACCUEIL ********/
.home{
    background:url("img/bg_home.jpg");  
    background-repeat: no-repeat; 
    background-attachment: fixed;     
}
.home {
  padding-top: 15px;
}
.card {
  box-shadow: 1px 1px 5px #444;
  margin-bottom: 15px;
  margin-right: 1px;
}
.welcom {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #444;
}
.welcom h1{
  padding-left: 10px;
}
.welcom p{
  padding-bottom: 15px;
}
@media screen and (max-width: 991px) and (orientation: portrait) {
  .welcom h1{
    font-size: 1.2em;
    font-weight: 600;
  }
  .lieu{
    margin-top: 15px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1200px) and (orientation: portrait) {  
  .supprimer {
    display: none;
  }
}
.card-img-top {
padding: 15px;
}
h5 {
  text-decoration: underline;
}
.card {
  margin-bottom: 30px;
}
.card-body a {
  color: #008348;
  text-decoration: underline;
}
/******** PAGE LE CLUB ********/
.club {
  background:url("img/fond-club.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 15px;
}
.text-club {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #444;
}
.text-club h1{
  padding-left: 10px;
}
.text-club p{
  padding-bottom: 15px;
}
.saison-club {
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 5px #444;
  text-align: right;
}
.seniorH{
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 5px #444;
  margin-top: 15px;
  margin-bottom: 15px;
}
.seniorH h5{
  text-align: center;
}
/******** PAGE INFO PRATIQUE ********/
.info {
  background:url("img/fond-club.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 15px;
}
.horaire{
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 5px #444;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.horaire h5{
  text-align: center;
}

/******** PAGE CONTACT********/
.contact {
  background:url("img/fond_contact.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 25px;
  padding-bottom: 30px;
}
.formulaire {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #444;
  padding-top: 20px;
  padding-bottom: 20px;
}
.lieu{
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #444;
  padding-top: 20px;
  padding-bottom: 20px;
}
.carte{
  margin-top: 15px;
}
/******** FOOTER ********/
footer{
  padding-top: 15px;
  padding-bottom: 15px;
}
.adresse {
  text-align: right;
}
 .plan-site a{
  color: #444;
}
.plan-site li {
  padding: 0;
}
.plan-site a:hover {
  color: #008348;
}
.plan-site h6 {
  text-decoration: underline;
}
.logo-footer{
  text-align: center;
}


