.test {
  box-shadow: 12px 12px 2px 1px black);
}
.home{
    background:url("img/bg_home.jpg");        
}
.logo {
    margin-right: 150px;
}
li{display:inline-block;min-width:50px;}
li a {
    text-decoration:none;
    line-height: 40px;
    padding: 0 10px;
    text-align: center;
    font-size: 1.2em;
    color: #444444;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
}
li a:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
li a:hover:after {
  width: 90%;
  background: #444;  
}
li a:hover {
    color: #008348;
}
.home {
  padding-top: 15px;
}
.card {
  box-shadow: 1px 1px 5px #444;
  margin-bottom: 15px;
  margin-right: 1px;
}
.welcom {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #444;
}
.welcom h1{
  padding-left: 10px;
}
.welcom p{
  padding-bottom: 15px;
}
@media screen and (max-width: 991px) and (orientation: portrait) {
  .welcom h1{
    font-size: 1.2em;
    font-weight: 600;
  }
  .lieu{
    margin-top: 15px;
    margin-bottom: 30px;
  }

}
.program {
  height: 500px;
}
.card-img-top {
padding: 15px;
}
h5 {
  text-decoration: underline;
}
.card {
  margin-bottom: 30px;
}
.card-body a {
  color: #008348;
}
.boutique {
  margin-top: 30px;
}
footer{
  padding-top: 15px;
  padding-bottom: 15px;
}
 .plan-site a{
  color: #444;
}
.plan-site li {
  padding: 0;
}
.plan-site a:hover {
  color: #008348;
}
.plan-site h6 {
  text-decoration: underline;
}
.logo-footer{
  text-align: center;
}

.contact {
  background:url("img/fond_contact.jpg");
  background-repeat: no-repeat;
  padding-top: 25px;
  padding-bottom: 30px;
}
.formulaire {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #444;
  padding-top: 20px;
  padding-bottom: 20px;
}
.lieu{
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #444;
  padding-top: 20px;
  padding-bottom: 20px;
}
.carte{
  margin-top: 15px;
}

